:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Ensure :root takes up the full height of the body */
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Make html and body take up the full viewport height */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

